<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>login</title>
</head>
<body>

<h1>login</h1>

<form action="login_post" method="POST">
    <input name="returnUrl" type="hidden" th:value="${returnUrl}"/>

    <p>
        <label for="username">username:</label>
        <input id="username" name="username" type="text" value=""/>
    </p>

    <p>
        <label for="password">password:</label>
        <input id="password" name="password" type="password" value=""/>
    </p>

    <p>
        <input type="submit"/>
        <input type="reset"/>
    </p>
</form>

</body>
</html>
